<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <!-- ==== CSS Files ==== -->
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <!-- ==== Main container Inicio ==== -->
    <div class="main-container">

        <!-- ==== Main Content Inicio ==== -->
        <div class="main-content">

            <!-- ==== Section 1 Inicio ==== -->
            <section class="section-one section">
                <div class="container">
                <div class="row">
                    <div class="introduction-box">
                        <div class="row">
                        <h4 class="sub-title padd-400">Acerca del proyecto</h4>
                        <p class="padd-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam suscipit officiis quisquam quis tempora. Veritatis, fuga, magni, eligendi laboriosam esse ipsa soluta necessitatibus vero amet vitae animi expedita quis.</p>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="head-content padd-14">
                            <h2 class="title">Titulo</h2>
                            <div class="head-img">
                                <img src="img/Entrega final - portada.jpg" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="main-content padd-14">
                            <div class="main-info">
                            <h4 class="sub-title">Subtitulo</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam suscipit officiis quisquam quis tempora. Veritatis, fuga, magni, eligendi laboriosam esse ipsa soluta necessitatibus vero amet vitae animi expedita quis.</p>
                            </div>

                            <h5 class="sub-title-2">titulo 2</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam suscipit officiis quisquam quis tempora. Veritatis, fuga, magni, eligendi laboriosam esse ipsa soluta necessitatibus vero amet vitae animi expedita quis.</p>
                        </div>

                        <div class="aside-content padd-14">
                            <div class="aside-img">
                                <img src="img/c32b2ee2e7955655c4430fdc4fc13feb.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ==== Section 1 Fin ==== -->
        </div>
        <!-- ==== Main Content Fin ==== -->
    </div>

</body>

</html>